@model PugnaFighting.Web.ViewModels.Coaches.DetailsCoachViewModel
@{
    ViewData["Title"] = "Coach Details";
}

<div class="p-5 rounded text-white bg-dark mx-auto w-75">
    <div class="jumbotron w-75 bg-secondary mx-auto">
        <h3 class="text-center">@Model.FirstName @Model.LastName</h3>
        <img src="@Model.PictureUrl" style="width: 250px; height: 250px;" class="rounded d-block mx-auto mt-3" />
        <div class="d-flex justify-content-around mt-4 font-weight-bold">
            <span>Age: @Model.Age</span>
            <span>Born Country: @Model.BornCountry</span>
            <span>Price: @Model.Price</span>
            <span>Bonus Skill Points: @Model.SkillBonus</span>
        </div>
        <span class="btn btn-success d-block mx-auto mt-3 w-25">Hire</span>
    </div>
</div>