@model PugnaFighting.Web.ViewModels.Fighters.AllOpponentsViewModel
@{
    ViewData["Title"] = "Fighters";
    var fighters = Model.Fighters.Select(x => new SelectListItem(x.Biography.FirstName + " " + x.Biography.LastName, x.Id.ToString()));
}

<div class="p-5 rounded text-white bg-dark mx-auto w-75">
    <form method="get" asp-controller="Fighters" asp-action="Fight">
        <div class="text-center d-flex justify-content-around border">
            <div class="p-3">
                <h5 class="text-center">Organization</h5>
                <div class="d-flex">
                    <input type="radio" id="animo-checkbox" name="organization" value="Animo" checked="checked">
                    <label class="mr-3" for="animo">Animo</label><br>
                    <input class="ml-3" type="radio" id="corporis-checkbox" name="organization" value="Corporis">
                    <label for="coroporis">Corporis</label><br>
                </div>
            </div>
            <div class="p-2">
                <p class="text-center">Select a fighter to fight:</p>
                <select asp-for="FighterId" asp-items="fighters" class="form-control"></select>
            </div>
        </div>

        <div class="d-flex flex-column border p-4">
            @foreach (var opponent in Model.Opponents)
            {
                <div class="my-2 d-flex bg-danger rounded p-4 justify-content-between">
                    <p>@opponent.Biography.FirstName "@opponent.Biography.Nickname" @opponent.Biography.LastName</p>
                    <p>@opponent.Biography.BornCountry</p>
                    <p>@opponent.Category.Name</p>
                    <p>@opponent.Organization.Name</p>
                    <input asp-for="OpponentId" value="@opponent.Id" hidden/>
                    <button type="submit" class="btn btn-light" asp-controller="Fighters" asp-action="Fight" asp-route-fighterId="@Model.FighterId" asp-route-opponentId="@opponent.Id">Fight</button>
                </div>
            }

            <nav>
                <ul class="pagination justify-content-center">
                    @if (this.Model.CurrentPage == 1)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Previous</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link"
                               asp-route="fighters"
                               asp-route-page="@(this.Model.CurrentPage - 1)">Previous</a>
                        </li>
                    }

                    @for (int i = 1; i <= this.Model.PagesCount; i++)
                    {
                        var active = i == this.Model.CurrentPage ? "active" : string.Empty;
                        <li class="page-item @active">
                            <a class="page-link"
                               asp-route="fighters"
                               asp-route-page="@i">@i</a>
                        </li>
                    }

                    @if (this.Model.CurrentPage == this.Model.PagesCount)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link"
                               asp-route="fighters"
                               asp-route-page="@(this.Model.CurrentPage + 1)">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </form>
</div>