@model PugnaFighting.Web.ViewModels.Organizations.ChooseOrganizationViewModel
@{
    ViewData["Title"] = "Choose Organization";
    var organizations = Model.OrganizationsDropDown.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var background = "primary";
}

<div class="p-5 rounded text-white bg-dark mx-auto w-75">
    <h2 class="text-center">Choose Organization</h2>

    <div class="row text-center">
        @foreach (var organization in Model.Organizations)
        {
            @if (organization.Name == "Corporis")
            {
                background = "danger";
            }

            <div class="col-sm bg-@background m-2 rounded">
                <h3 class="p-2">@organization.Name</h3>
                <h4 class="p-2">Location: @organization.Location</h4>
                <img class="rounded" src="@organization.LogoUrl" alt="logo" style="width: 300px;">
                <ul class="mt-2 font-weight-bold" style="list-style: none;">
                    <li>Fans - @organization.FansCount</li>
                    <li>Instant cash - @organization.InstantCash</li>
                    <li>Money per a fight - @organization.MoneyPerFight</li>
                </ul>
            </div>
        }
    </div>

    <form method="post" asp-action="ChooseOrganization">
        <div class="text-center pt-3">
            <label asp-for="OrganizationId" class="font-weight-bold"></label>
            <select asp-for="OrganizationId" asp-items="organizations" class="form-control w-25 mx-auto"></select>
            <span asp-validation-for="OrganizationId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success d-block mx-auto mt-2">Choose</button>
    </form>

</div>