@model PugnaFighting.Web.ViewModels.Fighters.FightViewModel
@{
    this.ViewData["Title"] = "Fight";
}

<div class="p-5 rounded text-white bg-dark mx-auto w-75">
    <h2 class="text-center font-weight-bold">It's time to fight</h2>
    <form method="post" asp-action="Fight">
        <div class="row text-center">
            <div class="col-sm bg-info m-2 rounded p-2">
                <h3 class="p-2">@Model.Fighter.Biography.FirstName @Model.Fighter.Biography.Nickname @Model.Fighter.Biography.LastName</h3>
                <p class="font-weight-bold">@Model.Fighter.Record.Wins-@Model.Fighter.Record.Losses-@Model.Fighter.Record.Draws</p>
                <img class="rounded" src="@Model.Fighter.Biography.PictureUrl" alt="fighter pic" style="width: 250px;">
                <ul class="text-left p-2" style="list-style: none;">
                    <li>Trainer: Javier Peterson</li>
                    <li>Manager: Ali Perry</li>
                    <li>Cutman: Ivan Johnson</li>
                </ul>
            </div>

            <div class="col-sm bg-info m-2 rounded">
                <h3 class="p-2">@Model.Opponent.Biography.FirstName @Model.Opponent.Biography.Nickname @Model.Opponent.Biography.LastName</h3>
                <p class="font-weight-bold">@Model.Opponent.Record.Wins-@Model.Opponent.Record.Losses-@Model.Opponent.Record.Draws</p>
                <img class="rounded" src="@Model.Opponent.Biography.PictureUrl" alt="opponent pic" style="width: 250px;">
                <ul class="text-left p-2" style="list-style: none;">
                    <li>Trainer: John Levinghton</li>
                    <li>Manager: Abdul Petrovic</li>
                    <li>Cutman: Johny Sealed</li>
                </ul>
            </div>
        </div>
        <div class="text-center pt-5">
            <button type="submit" class="btn btn-light" asp-action="Fight">Fight</button>
        </div>
    </form>
</div>