@model PugnaFighting.Web.ViewModels.Fighters.AllFightersViewModel
@{
    ViewData["Title"] = "My Fighters";
}

    <div class="p-5 rounded text-white bg-dark mx-auto w-75">
        <h2 class="text-center">@User.Identity.Name</h2>

        <div class="d-flex justify-content-between m-3">
            <span class="font-weight-bold"><i class="fas fa-users"></i> @Model.User.FightersCount/5 fighters count</span>
            <span class="font-weight-bold"><i class="fas fa-coins"></i> @Model.User.Coins coins</span>
        </div>

        <div class="d-flex flex-column">
            @foreach (var fighter in Model.FighterViewModels)
            {
                <div class="d-flex bg-success rounded m-4 p-3 justify-content-between">
                    <span>
                        <img src="@fighter.Biography.PictureUrl" style="width: 60px; height: 60px;" class="rounded" />
                    </span>
                    <p>Name: @fighter.Biography.FirstName @fighter.Biography.LastName</p>
                    <p>Age: @fighter.Biography.Age</p>
                    <p>Born County: @fighter.Biography.BornCountry</p>
                    <a type="button" class="btn btn-light" asp-controller="Users" asp-action="FighterDetails" asp-route-fighterId="@fighter.Id">Details</a>
                </div>
            }
        </div>

        @if (Model.User.FightersCount < 5 && Model.User.Coins >= 10000)
        {
            <p class="text-center">New Fighter Price: 10000 coins</p>
            <a type="button" class="btn btn-success d-block mx-auto w-25" asp-controller="Fighters" asp-action="Create">Create New Fighter</a>
        }
    </div>
