@model PugnaFighting.Web.ViewModels.Skills.TrainViewModel
@{
    ViewData["Title"] = "Train";
}

<div class="p-5 rounded text-white bg-dark mx-auto w-75">
    <form method="post" asp-action="Train">
        <div class="">
            <h1 class="text-center mb-3">Skills</h1>

            <div class="w-50 mx-auto">
                <p class="text-center font-weight-bold">Grappling: <input id="grappling-value" asp-for="Grappling" style="width: 50px" class="rounded" min="@Model.Grappling" max="100" value="@Model.Grappling" /></p>
                <span asp-validation-for="Grappling" class="text-danger"></span>
                <div class="d-flex justify-content-between">
                    <span class="mx-5 btn text-white border rounded decrement" id="decr-grappling">-</span>
                    <div class="progress m-2 w-100">
                        <div id="grappling-bar" class="progress-bar bg-success" role="progressbar" style="width: @Model.Grappling%">@Model.Grappling</div>
                    </div>
                    <span class="border rounded mx-5 btn text-white increment" id="incr-grappling">+</span>
                </div>

                <p class="text-center font-weight-bold">Striking: <input id="striking-value" asp-for="Striking" style="width: 50px" class="rounded" min="@Model.Striking" max="100" value="@Model.Striking" /></p>
                <div class="d-flex justify-content-between">
                    <span class="mx-5 btn text-white border rounded decrement" id="decr-striking">-</span>
                    <div class="progress m-2 w-100">
                        <div id="striking-bar" class="progress-bar bg-success" role="progressbar" style="width: @Model.Striking%">@Model.Striking</div>
                    </div>
                    <span class="border rounded mx-5 btn text-white increment" id="incr-striking">+</span>
                </div>

                <p class="text-center font-weight-bold">Wrestling: <input id="wrestling-value" asp-for="Wrestling" style="width: 50px" class="rounded" min="@Model.Wrestling" max="100" value="@Model.Wrestling" /></p>
                <div class="d-flex justify-content-between">
                    <span class="mx-5 btn text-white border rounded decrement" id="decr-wrestling">-</span>
                    <div class="progress m-2 w-100">
                        <div id="wrestling-bar" class="progress-bar bg-success" role="progressbar" style="width: @Model.Wrestling%">@Model.Wrestling</div>
                    </div>
                    <span class="border rounded mx-5 btn text-white increment" id="incr-wrestling">+</span>
                </div>

                <p class="text-center font-weight-bold">Health: <input id="health-value" asp-for="Health" style="width: 50px" class="rounded" min="@Model.Health" max="100" value="@Model.Health" /></p>
                <div class="d-flex justify-content-between">
                    <span class="mx-5 btn text-white border rounded decrement" id="decr-health">-</span>
                    <div class="progress m-2 w-100">
                        <div id="health-bar" class="progress-bar bg-success" role="progressbar" style="width: @Model.Health%">@Model.Health</div>
                    </div>
                    <span class="border rounded mx-5 btn text-white increment" id="incr-health">+</span>
                </div>

                <p class="text-center font-weight-bold">Strenght: <input id="strenght-value" asp-for="Strenght" style="width: 50px" class="rounded" min="@Model.Strenght" max="100" value="@Model.Strenght" /></p>
                <div class="d-flex justify-content-between">
                    <span class="mx-5 btn text-white border rounded decrement" id="decr-strenght">-</span>
                    <div class="progress m-2 w-100">
                        <div id="strenght-bar" class="progress-bar bg-success" role="progressbar" style="width: @Model.Strenght%">@Model.Strenght</div>
                    </div>
                    <span class="border rounded mx-5 btn text-white increment" id="incr-strenght">+</span>
                </div>

                <p class="text-center font-weight-bold">Stamina: <input id="stamina-value" asp-for="Stamina" style="width: 50px" class="rounded" min="@Model.Stamina" max="100" value="@Model.Stamina" /></p>
                <div class="d-flex justify-content-between">
                    <span class="mx-5 btn text-white border rounded decrement" id="decr-stamina">-</span>
                    <div class="progress m-2 w-100">
                        <div id="stamina-bar" class="progress-bar bg-success" role="progressbar" style="width: @Model.Stamina%">@Model.Stamina</div>
                    </div>
                    <span class="border rounded mx-5 btn text-white increment" id="incr-stamina">+</span>
                </div>
            </div>
        </div>
        <p class="mt-3 text-center">Price: <input value="0" style="width: 70px" type="number" id="price" disabled/></p>
        <button class="btn btn-success d-block mx-auto mt-5" type="submit">Train</button>
    </form>
</div>

<script src="~/js/calculatePrice.js"></script>
<script src="~/js/progressBarIncreaseDecrease.js"></script>