@model PugnaFighting.Web.ViewModels.Managers.AllManagersViewModel
@{
    ViewData["Title"] = "Managers";
}

<div class="p-5 rounded text-white bg-dark mx-auto w-75">
    <h3 class="text-center m-2">Managers</h3>
    <div class="d-flex flex-column">
        @foreach (var manager in Model.ManagerViewModels)
        {
            <div class="d-flex bg-success rounded m-4 p-3 justify-content-between">
                <span>
                    <img src="@manager.PictureUrl" style="width: 60px; height: 60px;" class="rounded" />
                </span>
                <p>Name: @manager.FirstName @manager.LastName</p>
                <p>Age: @manager.Age</p>
                <p>Born County: @manager.BornCountry</p>
                <a type="button" class="btn btn-light" asp-controller="Managers" asp-action="Details" asp-route-id="@manager.Id">Details</a>
            </div>
        }
    </div>
    @if (Model.Fighters.Any() && Model.User.Coins >= 20000)
    {
        <a class="btn btn-success d-block mx-auto mt-3 w-25" asp-controller="Managers" asp-action="Create">Create</a>
    }
</div>