@model PugnaFighting.Web.ViewModels.Cutmen.AllCutmenViewModel
@{
    ViewData["Title"] = "Cutmen";
}

<div class="p-5 rounded text-white bg-dark mx-auto w-75">
    <div class="d-flex flex-column">
        @foreach (var cutman in Model.CutmanViewModels)
        {
            <div class="d-flex bg-success rounded m-4 p-3 justify-content-between">
                <span>
                    <img src="@cutman.PictureUrl" style="width: 60px; height: 60px;" class="rounded"/>
                </span>
                <p>Name: @cutman.FirstName @cutman.LastName</p>
                <p>Age: @cutman.Age</p>
                <p>Born County: @cutman.BornCountry</p>
                <span type="button" class="btn btn-light"><a>Details</a></span>
            </div>
        }
    </div>
</div>